# @package _global_
defaults:
  - /base
  - _self_

############################################################
# lepton job info
############################################################
node_group: yo-bom-lepton-001
mount_from: node-nfs:fs1
num_nodes: 2
device_type: gpu
num_devices: 8
gpu_type: h100-sxm
resource_shape: "${device_type}.${num_devices}x${gpu_type}"

############################################################
# kratos info: where to log data
############################################################
kratos_subject: "convergence_tests_v0.0.2"

############################################################
# recipe identifiers
# mostly used for logging and observability
############################################################
recipe_subdir: esm2_native_te
model_type: esm2
variant: train # train, finetune

# Core identifiers for filtering
framework: native # native, accelerate
precision: bf16 # likely bf16 or fp8
te_enabled: true
fp8_enabled: false
# thd_enabled: false

# Catchall for additional features/configs
extras: [] # e.g. [thd]

############################################################
# wandb info (total_gpus used for group name)
############################################################
# `total_gpus` calculated from lepton job info above
total_gpus: ${multiply:${num_devices},${num_nodes}}

wandb_init_args:
  project: "test_convergence__recipes__${sanitize:${branch}}"
  group: "${model_type}__${task_cmd}__${total_gpus}gpus__${sanitize:${gpu_type}}"
  job_type: "${recipe_subdir}"
  name: null

############################################################
# task commands
# shared across all products (if not explicitly overridden)
############################################################

# script overrides
use_torch_compile: false
# these should match the keys in the recipe's config file
model_tag: nvidia/esm2_t48_15B_UR50D
# task_cmd: train_fsdp2 # mfsdp
num_train_steps: 20_000
# dataset commands
micro_batch_size: 8
load_dataset_kwargs_path: nvidia/esm2_uniref_pretraining_data
load_dataset_kwargs_streaming: true
load_dataset_kwargs_revision: 4ac1d2973567e46b8ca95901f4b4793a21305995 # pragma: allowlist secret
num_workers: 1

# lr commands
num_warmup_steps: 20_000
# checkpoint controls
ckpt_dir: ""
save_checkpoints: false
save_final_model: false
resume_from_checkpoint: false
use_distributed_checkpoint_fsdp2: false

############################################################
# Each product is a different config to run, alongside
# config-specific arguments. Must have a w`andb_name`.
############################################################
products:
  # TE bshd perf, FSDP2
  - config: L1_15B_perf_test
    task_cmd: train_fsdp2
    parallelism_strategy: fsdp2
    thd_enabled: false
    wandb_name: "esm2_native_15b__fsdp2__${now:%Y%m%d-%H%M%S}__${gitsha:}"
    job_name: "esm2-native-15b-fsdp2"
  # TE thd perf, FSDP2
  - config: L1_15B_perf_test
    task_cmd: train_fsdp2
    parallelism_strategy: fsdp2
    thd_enabled: true
    wandb_name: "esm2_native_15b__fsdp2__thd__${now:%Y%m%d-%H%M%S}__${gitsha:}"
    job_name: "esm2-native-15b-fsdp2-thd"
  # TE bshd perf, MFSDP
  - config: L1_15B_perf_test
    task_cmd: train_mfsdp
    parallelism_strategy: mfsdp
    thd_enabled: false
    wandb_name: "esm2_native_15b__mfsdp__${now:%Y%m%d-%H%M%S}__${gitsha:}"
    job_name: "esm2-native-15b-mfsdp"
  # TE thd perf, MFSDP
  - config: L1_15B_perf_test
    task_cmd: train_mfsdp
    parallelism_strategy: mfsdp
    thd_enabled: true
    wandb_name: "esm2_native_15b__mfsdp__thd__${now:%Y%m%d-%H%M%S}__${gitsha:}"
    job_name: "esm2-native-15b-mfsdp-thd"
  # OSS performance baseline, until torch.compile is figured out
  - config: L1_15B_perf_test
    model_tag: facebook/esm2_t48_15B_UR50D
    task_cmd: train_fsdp2
    parallelism_strategy: fsdp2
    thd_enabled: false
    use_torch_compile: false
    micro_batch_size: 4
    wandb_name: "esm2_native_15b__fsdp2__baseline__${now:%Y%m%d-%H%M%S}__${gitsha:}"
    job_name: "esm2-native-15b-fsdp2-baseline"

############################################################
# run script
# This gets called right after `checkout_script` in the base config.
############################################################
run_script: |
  wget -O init.sh https://raw.githubusercontent.com/leptonai/scripts/main/lepton_env_to_pytorch.sh;
  chmod +x init.sh;
  source init.sh;

  HYDRA_FULL_ERROR=1 torchrun \
    --nnodes=$NNODES \
    --nproc_per_node=$(nvidia-smi --query-gpu=gpu_name --format=csv,noheader | wc -l) \
    --node_rank=$NODE_RANK \
    --master_addr=$MASTER_ADDR \
    --master_port=$MASTER_PORT \
    ${task_cmd}.py \
    wandb_init_args.mode=${wandb_init_args.mode} \
    +wandb_init_args.project=${wandb_init_args.project} \
    +wandb_init_args.group=${wandb_init_args.group} \
    +wandb_init_args.job_type=${wandb_init_args.job_type} \
    wandb_init_args.name=${wandb_name} \
    num_train_steps=${num_train_steps} \
    dataset.micro_batch_size=${micro_batch_size} \
    use_sequence_packing=${thd_enabled} \
    dataset.num_workers=${num_workers} \
    lr_scheduler_kwargs.num_warmup_steps=${num_warmup_steps} \
    checkpoint.ckpt_dir=${ckpt_dir} \
    checkpoint.save_final_model=${save_final_model} \
    checkpoint.resume_from_checkpoint=${resume_from_checkpoint} \
    +checkpoint.save_checkpoints=${save_checkpoints} \
    +checkpoint.use_distributed_checkpoint_fsdp2=${use_distributed_checkpoint_fsdp2} \
    fp8_config.enabled=${fp8_enabled}
