datasets
hydra-core
# TOT megatron-mfsdp until NVIDIA/Megatron-LM#2575 is in a release.
megatron-fsdp @ git+https://github.com/NVIDIA/Megatron-LM.git@main#subdirectory=megatron/core/distributed/fsdp/src
pytest
torch
torchao!=0.14.0
torchdata
torchmetrics
tqdm
transformer_engine[pytorch]
transformers
wandb
