accelerate
datasets
deepspeed
hydra-core
litellm[proxy]
lm-eval
megatron-fsdp
nvdlfw_inspect @ git+https://github.com/NVIDIA/nvidia-dlfw-inspect
peft
pytest
seaborn
torch
torchao!=0.14.0
torchdata
torchmetrics
tqdm
transformer_engine
transformers
typer
wandb
zstandard
