accelerate
datasets
deepspeed
hydra-core
lm-eval
megatron-fsdp
peft
pytest
torch
torchao!=0.14.0
torchdata
torchmetrics
tqdm
transformer_engine
transformers<5.0
typer
wandb
zstandard
nvdlfw_inspect @ git+https://github.com/NVIDIA/nvidia-dlfw-inspect
seaborn
