--extra-index-url https://test.pypi.org/simple/ # TODO: Remove this once megatron-fsdp is public
accelerate
datasets
deepspeed
hydra-core
torch
megatron-fsdp==0.1.0rc0
torchmetrics
tqdm
# transformer_engine  # Add when we're not deriving from pytorch base container
transformers
typer
wandb
